<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testwebsite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form class="input-group" action="" method="POST">
            <button type="submit" name="GoToLogin" value="clicked">Login</button>
            <button type="submit" name="GoTosignup" value="clicked">SignUp</button>
        </form>
</body>
</html>